### 3. 리스트

In [ ]:
a = ['claudio', 'zizi', 'luchiano']
b = list('abc')

print(a, b)

['claudio', 'zizi', 'luchiano'] ['a', 'b', 'c']

In [ ]:
for i in range(0,3):
  print(f'{a[i]}, index number: {i}')

claudio, index number: 0
zizi, index number: 1
luchiano, index number: 2

In [ ]:
# 리스트 값 변경가능
a[2] = 'bito'
print(a)

['claudio', 'zizi', 'bito']

#### 활용

`.index()` 값으로 위치 찾기  
`.append()`, `.insert()` 항목 추가하기 / 항목 삽입하기  
`.del()`, `.remove()`  항목 삭제하기(인덱스로) / 항목 삭제하기 (값으로)  
`in` 존재여부 확인하기
`len()` 전체 개수세기  
`.count()` 특정 항목 개수세기  
`sum()`, `min()`, `max()`  핪 / 최대값 / 최소값   
  
`sort()` 내부적으로 정렬  
  - sort`(reserve = True)` 역순으로 정렬  
`sorted()` 정렬된 복사본 반환

In [ ]:
LongTea = ['gin', 'vodka', 'blanco', 'cointreau']

print(LongTea.index('vodka'))

1

In [ ]:
LongTea.append('lemon')
print(LongTea)

LongTea.insert(2, 'rum')
print(LongTea)

['gin', 'vodka', 'blanco', 'cointreau', 'lemon']
['gin', 'vodka', 'rum', 'blanco', 'cointreau', 'lemon']

In [ ]:
del LongTea[3]
print(LongTea)

LongTea.remove('cointreau')
print(LongTea)

['gin', 'vodka', 'rum', 'cointreau', 'lemon']
['gin', 'vodka', 'rum', 'lemon']

In [ ]:
print('blanco' in LongTea)
print('lemon' in LongTea)

False
True

In [ ]:
print(len(LongTea))

4

In [ ]:
numbers = [1, 2 ,5, 5, 6, 46, 8412, 23, 3, 26, 46]

print(numbers.count(5), end='\n\n')
print(sum(numbers),
      min(numbers),
      max(numbers), sep='\n')

2

8575
1
8412

In [ ]:
numbers.sort()
print(numbers)

[1, 2, 3, 5, 5, 6, 23, 26, 46, 46, 8412]

In [ ]:
numbers.sort(reverse = True)
print(numbers)

[8412, 46, 46, 26, 23, 6, 5, 5, 3, 2, 1]

In [ ]:
a = sorted(numbers)
print(numbers)
print(a)

[1, 2, 5, 5, 6, 46, 8412, 23, 3, 26, 46]
[1, 2, 3, 5, 5, 6, 23, 26, 46, 46, 8412]

In [ ]:
numbers.reverse()
print(numbers)
#역순 출력

[46, 26, 3, 23, 8412, 46, 6, 5, 5, 2, 1]

In [ ]:
numbers.sort()
print(numbers)
#오름차순

[1, 2, 3, 5, 5, 6, 23, 26, 46, 46, 8412]

In [ ]:
numbers.sort(reverse=True)
print(numbers)
#내림차순

[8412, 46, 46, 26, 23, 6, 5, 5, 3, 2, 1]

### 12. 튜플
리스트와 다르게 변경 불가 (immutable)  
한 번에 여러 개의 변수에 할당 가능

In [ ]:
tu='a','b','c'
tu1,tu2,tu3 = tu
print(tu)
print(tu1)

('a', 'b', 'c')
a

#### 3. 튜플 인덱스

In [ ]:
tu = ('a','b','c')

for i in range(len(tu)):
  print(f'{tu[i]}, tuple index: {i}')

a, tuple index: 0
b, tuple index: 1
c, tuple index: 2

####4. 튜플 활용

In [ ]:
print(tu.index('b'))

1

In [ ]:
print('a' in tu)

True

In [ ]:
print(len(tu))

3

In [ ]:
print(tu.count('a'))

1

In [ ]:
numbering = (12,13,20)
n1, n2, n3 = numbering

print(n1, n3, n2)

12 20 13

In [ ]:
a1, a2 = numbering

ValueError: ignored

개수 안 맞아서 오류 발생

In [ ]:
a = 'hello'
b = 'world'

(a,b) = (b,a)
print(a, b)

world hello

In [ ]:
alpha = ['a','b','c','d','e','f']
tupl = tuple(alpha)
print(tupl)

('a', 'b', 'c', 'd', 'e', 'f')

In [ ]:
listt = list(tupl)
print(listt)

['a', 'b', 'c', 'd', 'e', 'f']

### 13. 집합 set

딕셔너리에서 값 제거한 키와 비슷  
{} 중괄호로 값 구분  
순서대로 저장되지 않음 , 순서가 없고 그래서 sort() 사용 불가  
중복된 값은 한 번만 저장  
set() 함수 이용해서 만들 수 있음  
**중괄호{}** 이용해서도 만들 수 있지만 빈 set은 만들 수 없음

In [ ]:
b = {10,2,4,4,8,5,6,8}
print(b)

{2, 4, 5, 6, 8, 10}

In [ ]:
print(b)

{2, 4, 5, 6, 8}

In [ ]:
setting = {2,4,6,8}
setting.add(5)

print(setting)

{2, 4, 5, 6, 8}

In [ ]:
setting.remove(5)
print(setting)

{2, 4, 6, 8}

In [ ]:
print(10 in setting)

False

In [ ]:
print(len(setting))

4

In [ ]:
print(sum(setting),
      min(setting),
      max(setting), sep='\n')

20
2
8

In [ ]:
b = tuple(setting)
print(b)

c = list(setting)
print(c)

(2, 4, 6, 8)
[2, 4, 6, 8]

#### 5. 집합 연산

In [ ]:
a = {1,2.3}
b = {2,3,4}

In [ ]:
print(a&b, a.intersection(b))
print(a | b, a.union(b))

print(a-b, a.difference(b))
print(a^b)

set() set()
{1, 2.3, 2, 3, 4} {1, 2.3, 2, 3, 4}
{1, 2.3} {1, 2.3}
{1, 2, 3, 4, 2.3}

### 14.딕셔너리
키와 값으로 이루어짐

In [ ]:
dic1 = {}
dic2 = dict()

print(type(dic1), dic1)
print(type(dic2), dic2)

<class 'dict'> {}
<class 'dict'> {}

#### 딕셔너리 특징

In [ ]:
birth = {'day': 20, 'month': 12, 'year': 2001}

print(birth['day'])
#다른 구조들과 다르게 index(순서)를 통해 조회하는게 아니라 키를 넣어서 값을 얻음

20

In [ ]:
birth['time']=8
print(birth)
#키와 값 추가

{'day': 20, 'month': 12, 'year': 2001, 'time': 8}

In [ ]:
birth['day']=13
print(birth)
#값 수정

{'day': 13, 'month': 12, 'year': 2001, 'time': 8}

#### 딕셔너리 활용

항목 삭제하기: 선택해서 삭제할 때는 키 이름 입력  
모든 항목 삭제할 때는 clear

In [ ]:
del birth['time']
print(birth)

birth.clear()
print(birth)

{'day': 13, 'month': 12, 'year': 2001}
{}